[submodule "packages/chr"]
	path = packages/chr
	url = ../../SWI-Prolog/packages-chr.git
[submodule "packages/jpl"]
	path = packages/jpl
	url = ../../SWI-Prolog/packages-jpl.git
[submodule "packages/clpqr"]
	path = packages/clpqr
	url = ../../SWI-Prolog/packages-clpqr.git
[submodule "packages/inclpr"]
	path = packages/inclpr
	url = ../../SWI-Prolog/packages-inclpr.git
[submodule "bench"]
	path = bench
	url = ../../SWI-Prolog/bench.git
[submodule "packages/utf8proc"]
	path = packages/utf8proc
	url = ../../SWI-Prolog/packages-utf8proc.git
[submodule "packages/protobufs"]
	path = packages/protobufs
	url = ../../SWI-Prolog/contrib-protobufs.git
[submodule "packages/xpce"]
	path = packages/xpce
	url = ../../SWI-Prolog/packages-xpce.git
[submodule "packages/odbc"]
	path = packages/odbc
	url = ../../SWI-Prolog/packages-odbc.git
[submodule "packages/sgml"]
	path = packages/sgml
	url = ../../SWI-Prolog/packages-sgml.git
[submodule "packages/clib"]
	path = packages/clib
	url = ../packages-clib.git
[submodule "packages/http"]
	path = packages/http
	url = ../../SWI-Prolog/packages-http.git
[submodule "packages/plunit"]
	path = packages/plunit
	url = ../../SWI-Prolog/packages-plunit.git
[submodule "packages/pldoc"]
	path = packages/pldoc
	url = ../../SWI-Prolog/packages-pldoc.git
[submodule "packages/RDF"]
	path = packages/RDF
	url = ../../SWI-Prolog/packages-RDF.git
[submodule "packages/semweb"]
	path = packages/semweb
	url = ../../SWI-Prolog/packages-semweb.git
[submodule "packages/ssl"]
	path = packages/ssl
	url = ../../SWI-Prolog/packages-ssl.git
[submodule "packages/zlib"]
	path = packages/zlib
	url = ../../SWI-Prolog/packages-zlib.git
[submodule "packages/tipc"]
	path = packages/tipc
	url = ../../SWI-Prolog/contrib-tipc.git
[submodule "packages/table"]
	path = packages/table
	url = ../../SWI-Prolog/packages-table.git
[submodule "packages/nlp"]
	path = packages/nlp
	url = ../../SWI-Prolog/packages-nlp.git
[submodule "packages/bdb"]
	path = packages/bdb
	url = ../../SWI-Prolog/packages-bdb.git
[submodule "packages/cpp"]
	path = packages/cpp
	url = ../../SWI-Prolog/packages-cpp.git
[submodule "packages/ltx2htm"]
	path = packages/ltx2htm
	url = ../../SWI-Prolog/packages-ltx2htm.git
[submodule "packages/windows"]
	path = packages/windows
	url = ../../SWI-Prolog/packages-windows.git
[submodule "packages/PDT"]
	path = packages/PDT
	url = ../../SWI-Prolog/packages-PDT.git
[submodule "packages/archive"]
	path = packages/archive
	url = ../../SWI-Prolog/packages-archive.git
[submodule "debian"]
	path = debian
	url = ../../SWI-Prolog/distro-debian.git
[submodule "packages/swipl-win"]
	path = packages/swipl-win
	url = ../../SWI-Prolog/packages-swipl-win.git
[submodule "packages/pengines"]
	path = packages/pengines
	url = ../../SWI-Prolog/packages-pengines.git
[submodule "packages/cql"]
	path = packages/cql
	url = ../../SWI-Prolog/packages-cql.git
[submodule "packages/readline"]
	path = packages/readline
	url = ../../SWI-Prolog/packages-readline.git
[submodule "packages/libedit"]
	path = packages/libedit
	url = ../../SWI-Prolog/packages-libedit.git
[submodule "packages/pcre"]
	path = packages/pcre
	url = ../../SWI-Prolog/packages-pcre.git
[submodule "packages/yaml"]
	path = packages/yaml
	url = ../../SWI-Prolog/packages-yaml.git
[submodule "packages/paxos"]
	path = packages/paxos
	url = ../../SWI-Prolog/packages-paxos.git
[submodule "packages/redis"]
	path = packages/redis
	url = ../../SWI-Prolog/packages-redis.git
[submodule "packages/stomp"]
	path = packages/stomp
	url = ../../SWI-Prolog/packages-stomp.git
[submodule "packages/mqi"]
	path = packages/mqi
	url = ../../SWI-Prolog/packages-mqi.git
[submodule "packages/sweep"]
	path = packages/sweep
	url = ../../SWI-Prolog/packages-sweep.git
[submodule "packages/swipy"]
	path = packages/swipy
	url = ../../SWI-Prolog/packages-swipy
[submodule "packages/json"]
	path = packages/json
	url = ../../SWI-Prolog/packages-json.git
